<!DOCTYPE html>
<html lang="en">
<%- include ('../Includes/head.ejs') %>
<link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header>
<%- include ('../Includes/navigator.ejs') %>
        
    </header>
    <p>No product in your cart yet</p>
    
<%- include ('../Includes/end.ejs') %>

</body>
</html>
